# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
web-build/
dist/

# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Firebase
.firebase/

# Build outputs
*.apk
*.aab
*.ipa